<div class="p-6 text-space-star">
  <h2 class="text-xl mb-4">🛰️ Manage Candidates</h2>

  <div class="overflow-x-auto border border-planet rounded-lg max-h-[500px] overflow-y-scroll">
    <table class="min-w-full text-left border-collapse" id="candidatesTable">
      <thead>
        <tr class="bg-space-darker text-center text-space-star">
          <th class="px-2 py-2 rotate-header">koi_score</th>
          <th class="px-2 py-2 rotate-header">koi_fwm_stat_sig</th>
          <th class="px-2 py-2 rotate-header">koi_srho_err2</th>
          <th class="px-2 py-2 rotate-header">koi_dor_err2</th>
          <th class="px-2 py-2 rotate-header">koi_dor_err1</th>
          <th class="px-2 py-2 rotate-header">koi_incl</th>
          <th class="px-2 py-2 rotate-header">koi_prad_err1</th>
          <th class="px-2 py-2 rotate-header">koi_count</th>
          <th class="px-2 py-2 rotate-header">koi_dor</th>
          <th class="px-2 py-2 rotate-header">koi_dikco_mdec_err</th>
          <th class="px-2 py-2 rotate-header">koi_period_err1</th>
          <th class="px-2 py-2 rotate-header">koi_period_err2</th>
          <th class="px-2 py-2 rotate-header">koi_dikco_mra_err</th>
          <th class="px-2 py-2 rotate-header">koi_prad_err2,continuous</th>
          <th class="px-2 py-2 rotate-header">koi_dikco_msky_err</th>
          <th class="px-2 py-2 rotate-header">koi_max_sngle_ev</th>
          <th class="px-2 py-2 rotate-header">koi_prad,continuous</th>
          <th class="px-2 py-2 rotate-header">koi_dicco_mdec_err</th>
          <th class="px-2 py-2 rotate-header">koi_model_snr</th>
          <th class="px-2 py-2 rotate-header">koi_dicco_mra_err</th>
        </tr>
      </thead>
      <tbody id="manageCandidatesBody">
        <tr><td colspan="20" class="text-center py-4 text-gray-500">No hay candidatos actualmente</td></tr>
      </tbody>
    </table>
  </div>
</div>

<script src="/js/managecandidates.js"></script>

<style>
  .rotate-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 8px 2px;
  }
</style>
